@using ArtHubBO.Entities;
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http;
@{
    var httpContext = ViewContext.HttpContext;
    var userString = httpContext.Session.GetString("CREDENTIAL");
    var user = userString != null ? JsonConvert.DeserializeObject<Account>(userString) : null;
    string role;
    @if (user != null)
    {
        ViewData["Avatar"] = user.Avatar;
        ViewData["FirstName"] = user.FirstName;
        role = user.Role.RoleName.ToLower();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/User.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:wght@300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Fontawesome cdn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav">
                        @if (user != null && user.Role.RoleName == "Creator")
                        {
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Creator/ArtworkList">My Artwork</a>
                            </li>
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Creator/UploadNewArtwork">Upload</a>
                            </li>
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Creator/AudienceSubscriberStatistic">Statistics</a>
                            </li>
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Creator/Profile">Profile</a>
                            </li>
                        } else
                        {
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Artworks/Index">Artworks</a>
                            </li>
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreatorExploration/Index">Creators</a>
                            </li>
                            <li class="nav-item me-3 fs-5">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contact</a>
                            </li>
                        }                        
                    </ul>
                </div>
                <div class="text-center">
                    <img src="https://d28yx6l5j59h9f.cloudfront.net/Artwork/01732ec7-756b-4621-94c1-2da9a8647be0.png"
                         class="m-auto w-50 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <div class="d-flex align-items-center">
                        <div class="me-3" style="opacity:0; visibility: hidden; pointer-events: none;">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </div>
                        <div style="opacity:0; visibility: hidden; pointer-events: none;">
                            <button type="submit" class="btn position-relative mx-2">Search</button>
                        </div>
                        @if (user == null)
                        {
                            <div>
                                <a asp-page="/Authenticate/Login" type="button" class="btn position-relative mx-2 d-flex align-items-center">
                                    <i class="fa-solid fa-user me-2"></i>
                                    <span>Sign In</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            switch(user.Role.RoleName)
                            {
                                case "Audience":
                                    <div class="me-3 nav-user">
                                        <img src="@(ViewBag.Avatar ?? "https://placehold.it/60x60")" alt="" class="user-img m-2">
                                        <span class="user-name my-1">@ViewBag.FirstName</span>
                                        <ul class="user-menu list-unstyled me-3">
                                            <li class="user-menu-item">
                                                <a asp-page="/Audience/Profile/Index" class="text-decoration-none text-dark">My Profile</a>
                                            </li>
                                            <li class="user-menu-item">
                                                <a asp-page="/Audience/Profile/Loved" class="text-decoration-none text-dark">Activities</a>
                                            </li>
                                            
                                            <li class="user-menu-item item-seperate">
                                                <form method="get">
                                                    <a asp-page="/Authenticate/Logout" class="text-decoration-none text-dark">Logout</a>
                                                </form>                                                
                                            </li>
                                        </ul>
                                    </div>
                                    break;
                                case "Creator":
                                    <div class="me-3 nav-user">
                                        <img src="@(ViewBag.Avatar ?? "https://placehold.it/60x60")" alt="" class="user-img m-2">
                                        <span class="user-name my-1">@ViewBag.FirstName</span>
                                        <ul class="user-menu list-unstyled me-3">                                            
                                            <li class="user-menu-item">
                                                <a asp-page="/Creator/ArtworkList" class="text-decoration-none text-dark">My Artwork</a>
                                            </li>
                                            <li class="user-menu-item">
                                                <a asp-page="/Creator/UploadNewArtwork" class="text-decoration-none text-dark">Upload Artwork</a>
                                            </li>
                                            <li class="user-menu-item">
                                                <a asp-page="/Creator/AudienceSubscriberStatistic" class="text-decoration-none text-dark">Statistics</a>
                                            </li>
                                            <li class="user-menu-item">
                                                <a asp-page="/Creator/Profile" class="text-decoration-none text-dark">My Profile</a>
                                            </li>
                                            <li class="user-menu-item item-seperate">
                                                <a asp-page="/Authenticate/Logout" class="text-decoration-none text-dark">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                    break;
                                default:
                                    <div>
                                        <a asp-page="/Authenticate/Login" type="button" class="btn position-relative mx-2 d-flex align-items-center">
                                            <i class="fa-solid fa-user mr-2"></i>
                                            <span>Sign In</span>
                                        </a>
                                    </div>
                                    break;
                            }                            
                        }
                    </div>                   
                </form>                        
            </div>
        </nav>
    </header>
    <div style="margin-top: 75px;">
        @RenderBody()
    </div>
    

    <footer class="footer border-top text-muted">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="">
                <img src="https://d28yx6l5j59h9f.cloudfront.net/Artwork/01732ec7-756b-4621-94c1-2da9a8647be0.png"
                     class="w-50 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="collapse d-flex justify-content-between">
                <div>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </div>
                <div>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Artworks</a>
                </div>
                <div>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Creators</a>
                </div>
                <div>
                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contact</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex flex-column align-items-end">
                <div>
                    <h5 class="fw-light mt-3 mb-0">Follow Us</h5>
                </div>
                <div>
                    <ul class="list-unstyled d-flex justify-content-end">
                        <li>
                            <a class="text-white text-decoration-none text-muted fs-4 me-4">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>                        
                        <li>
                            <a class="text-white text-decoration-none text-muted fs-4 me-4">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none text-muted fs-4 me-4">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-white text-decoration-none text-muted fs-4">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-100" style="height: 0.1px; background-color:#999;">
        </div>
        <div class="container d-flex justify-content-between align-items-center">
            <div>
                &copy; 2024 ArtHub Center
            </div>
            <div>
                <ul class="list-unstyled d-flex justify-content-end">
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Terms">Terms</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <li>
                        <a class="nav-link pe-0 text-dark" asp-area="" asp-page="/Cookies">Cookies</a>
                    </li>
                </ul>
            </div>
        </div>           
    </footer>    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>