@page
@model Admin.Pages.AccountManagementModel
@{
}
<form method="post" id="myForm">
    <div class="row mb-3">
        <div class="col-md-6">
            <input type="text" class="form-control" id="searchInput" asp-for="@Model.SearchAccountCondition.Email" placeholder="Enter search keyword...">
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary" asp-page-handler="Search" >Search</button>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>FullName</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PageResult != null && Model.PageResult.PageData != null && Model.PageResult.PageData.Any())
            {
                @foreach (var account in Model.PageResult.PageData)
                {
                    <tr>
                        <td>@account.Email</td>
                        <td>@account.FirstName @account.LastName</td>
                        <td>@account.Gender</td>
                        <td>@account.Status</td>
                        <td>@account.Enabled</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@account.Email">Edit</a> |
                            <a asp-page="./AccountDetailManagement" asp-route-email="@account.Email">Details</a> |
                            <button type="button" class="btn btn-danger" onclick="deleteAccount('@account.Email')">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No accounts available</td>
                </tr>
            }
        </tbody>
    </table>

@* @if (Model.PageResult != null && Model.PageResult.PageInfo != null && Model.PageResult.PageInfo.TotalItems > 0)
{
    var totalPages = (int)Math.Ceiling((decimal)Model.PageResult.PageInfo.TotalItems / Model.PageResult.PageInfo.PageSize);
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == Model.PageResult.PageInfo.PageNum ? "active" : "")">
                    <a class="page-link" href="?PageNumber=@i&PageSize=@Model.PageResult.PageInfo.PageSize">@i</a>
                </li>
            }
        </ul>
    </nav>
} *@
    @if(Model.PageResult.PageInfo != null)
    {
        <div id="pagingPartial">
            <partial name="Shared/_PagingPartial" model="@Model.PageResult?.PageInfo" />
        </div>
    }

    <input type="hidden" name="SearchAccountCondition.PageNumber" /> @* check chỗ name *@

</form>
<script>
    

   

    async function deleteAccount(email) {
        var confirmDelete = confirm("Do you really want to delete the account with email " + email + "?");
        if (confirmDelete) {
            const form = document.getElementById('myForm');
            form.action = 'AccountManagement?handler=Delete&email=' + email;
            form.method = 'post';
            form.submit();
        }
    }
</script>