@page
@model Admin.Pages.LoginModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/login-register.css" asp-append-version="true" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:wght@300&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="text-center text-lg-start" style="height: 100%;">
    <div class="card" style="border:none;">
        <div class="row g-0 d-flex align-items-center" style="background-color:var(--yellow-color-dark);">
            <div class="image col-lg-4 d-none d-lg-flex">
                <img src="./images/Login.png"
                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="d-flex align-items-center form col-lg-8" style="height: 100vh">
                <div class="card-body py-5 px-md-5">
                    <div class="text-center">
                        <span class="title">Sign in to ArtHub</span>
                    </div>
                    <form method="post">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="label-primary form-label" for="form2Example1">Email address</label>
                            <input asp-for="@Model.Email" type="email" placeholder="Type here" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-2">
                            <label class="label-primary form-label" for="form2Example2">Password</label>
                            <input asp-for="@Model.Password" type="password" placeholder="Type here" class="form-control" />
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <span class="text-danger mt-2 mb-2">@ViewData["ErrorMessage"]</span>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="button my-4">Sign in</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@{
    await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");
}