@page
@model Admin.Pages.TopCreatorModel
@{
}
<form method="post" id="myForm">
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>CreatorName</th>
                <th>TotalSubscribe</th>
                <th>Fee</th>
                <th>TotalLove</th>
                <th>Revenue</th>
               
            </tr>
        </thead>
        <tbody>
            @if (Model.PageResult != null && Model.PageResult.PageData != null && Model.PageResult.PageData.Any())
            {
                @foreach (var account in Model.PageResult.PageData)
                {
                    <tr>
                        <td>@account.CreatorEmail</td>
                        <td>@account.CreatorName</td>
                        <td>@account.TotalSubscribe</td>
                        <td>@account.Fee</td>
                        <td>@account.TotalLove</td>
                        <td>@account.Revenue</td>
                       
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No accounts available</td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script>
    async function deleteAccount(email) {
        var confirmDelete = confirm("Do you really want to delete the account with email " + email + "?");
        if (confirmDelete) {
            const form = document.getElementById('myForm');
            form.action = 'AccountManagement?handler=Delete&email=' + email;
            form.method = 'post';
            form.submit();

            // Xóa hàng chứa nút "Delete" sau khi xóa thành công
            //  const rowToDelete = document.querySelector(`tr[data-email='${email}']`);
            // if (rowToDelete) {
            //   rowToDelete.remove();
        }
    }
        }
</script>