<style>

    /* Style for category buttons */
    .category-buttons {
        display: flex;
        flex-wrap: wrap;
    }

    .active {
        background: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%) !important;
    }

    .category-button {
        background-color: #f0f0f0;
        color: #333;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        margin-right: 10px;
        margin-bottom: 10px;
    }

        .category-button:hover {
            background-color: #ddd;
        }

    /* Style for search box */
    .search-container {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: center;
        }

        .search-input {
            width: 100%;            
            padding: 10px 16px;
            border: 1px solid #ccc;
            border-radius: 5px;                       
        }

        #order-select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        #category-list {
            max-width: 80%;
            margin: auto;
            display: flex;
            justify-content: center;
        }
</style>
@model ArtworkFilteringModel


<div class="search-container">
    <form action="../Artworks" style="flex: 1; max-width: 70%; margin-right: 10px;" method="GET">
        <input type="text" class="search-input" id="searchInput" name="search" placeholder="Search..." value="@Model.SearchValue"> 
    </form> 
    <select id="order-select" onchange="handleOrderChange()">
        @if (@Model.OrderByValue == "1")
        {
            <option value="1" selected>Most favourite</option>
            <option value="2">Most recent</option>
        }
        else
        {
            <option value="1" >Most favourite</option>
            <option value="2" selected>Most recent</option>
        }

    </select>
 </div>

<!-- Nơi hiển thị danh sách category -->
<div id="category-list">
    @foreach (var category in Model.Categories)
    {
        <button class="category-button @(category.IsSelected ? "active" : "")"
            onclick="filterByCategory(@category.Id)">
            @category.Name
        </button>
    }
</div>


@section Scripts {
    <script type="text/javascript">
        function getURL() {
            var keyword = document.getElementById('searchInput').value.trim();
            var orderSelect = document.getElementById('order-select').value;
            return '../Artworks?search=' + encodeURIComponent(keyword) + '&orderBy=' + orderSelect;
        }
        function handleOrderChange() {
            window.location.href = getURL();
        }

        function filterByCategory(category) {
            console.log("Filter by category: " + category);            
        }

        function performSearch() {
            event.preventDefault();
            window.location.href = getURL();
        }
    </script>
}