@page
@using ArtHubService.Utils;
@model User.Pages.Artworks.DetailsModel
@{
    ViewData["Title"] = "ArtHub | Artwork Details";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .artwork-exploration {
            max-width: 768px;
            margin: auto;
            padding: 20px;
            font-family: 'Open Sans', sans-serif;
        }

        .title-local {
            text-align: center;
            font-size: 24px;
            font-weight: 600;
        }

        .main-artwork {
            text-align: center;
            margin-bottom: 20px;
        }

        .main-image {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .artwork-details {
            text-align: center;
        }

        .loves-saveds {
            margin-bottom: 10px;
        }

        .loves, .saveds {
            font-size: 16px;
            margin-right: 15px;
        }

            .loves i, .saveds i {
                margin-right: 5px;
            }

        .artist-info {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }

        .artist-profile-pic {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .artist-name {
            font-size: 20px;
            font-weight: bold;
        }

        .artwork-description {
            font-size: 16px;
            color: #666;
            margin-bottom: 20px;
            text-align: left;            
        }

        .more-artwork h2 {
            font-size: 20px;
            margin-bottom: 15px;
        }

        .thumbnails {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
        }

        .thumbnail {
            flex: 1;
            max-width: 320px;
            overflow: hidden;
            border-radius: 8px;
        }

        .thumbnail-image {
            width: 100%;
            height: 160px;
            object-fit: cover;
            object-position: center;
        }

        #love, #bookmark {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            border-radius: 100rem;
            border: 1px #ddd solid;
            color: gray;
        }

        #love:hover, #bookmark:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        #love.did ,#love:hover i {
            color: indianred;
        }

        #bookmark.did, #bookmark:hover i {
            color: goldenrod;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
        }

        .gallery-item {
            position: relative;
            background: #ffffff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .gallery-image {
            width: 100%;
            display: block;
            height: 100px;
            object-fit: cover;
            object-position: center;
        }

        .gallery-item-info {
            padding: 4px;
            text-align: center;
        }

        .artist-name-suggest {
            margin: 8px 0;
            font-size: 12px;
            color: #333;
        }

        .gallery-item-stats {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }

            .gallery-item-stats span {
                margin: 0 4px;
            }

        .likes,
        .comments {
            display: flex;
            align-items: center;
            font-size: 10px;
        }

            .likes i,
            .comments i {
                margin-right: 4px;
                font-size: 10px;
            }

        .user-short-item {
            display: flex;
            align-items: center;
            border-radius: 8px; /* Rounded corners for the container */
        }

        .artist-profile-pic-suggest {
            width: 16px; /* Profile picture size */
            height: 16px; /* Profile picture size */
            border-radius: 50%; /* Make the image round */
            margin-right: 4px; /* Space between the image and the name */
            object-fit: cover; /* Ensures the image covers the area */
        }

        .artist-name-suggest {
            font-size: 10px; /* Adjust as needed */
            color: #333; /* Dark grey color for the text */
            font-weight: 600; /* Bold font for the artist's name */
        }
        .gallery-item-title {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: dark;
            background: #ccc;
            font-weight: 600;
            font-size: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            opacity: 0;
            transition: opacity 0.3s;
            max-width: 220px;
        }

        .gallery-item:hover {
            cursor: pointer;
        }

        .gallery-item:hover .gallery-image {
            opacity: 0.6;            
        }
        .gallery-item:hover .gallery-item-title {
            opacity: 1;
        }
        @@media (max-width: 768px) {
            .thumbnails {
                flex-direction: column;
                align-items: center;
            }

            .thumbnail {
                width: 100%;
            }            
        }
    </style>
</head>
<body>
  <div class="artwork-exploration">
      <div class="d-flex justify-content-between align-items-center mb-2">
          <h1 class="title-local">@Model.Post?.Title</h1>
          <input type="hidden" value="@Model.Post.PostId" id="postId"/>
        <div class="gallery-item-stats">
                <span id="love" class=@(Model.IsReacted ? "did" : "")><i class="fa-solid fa-heart"></i> </span>
                <span id="bookmark" class=@(Model.IsBookmarked ? "did ms-2" : "ms-2")><i class="fa-solid fa-bookmark"></i></span>                
        </div>
      </div>
      <div class="main-artwork">
        <img src="@(Model.Post?.Images.FirstOrDefault()?.ImageUrl ?? "https://placehold.co/768x432")" alt="Main Artwork Image" class="main-image">
      </div>
      <div class="artwork-details">
        
        <div class="d-flex justify-content-between align-items-center">
                <a class="artist-info" href="/CreatorExploration/Details?id=@(Encryption.EncodeEmailToKey(Model.Post?.Artist?.Email))" style="color: black; text-decoration: none;">
                  <img src="@(Model.Post?.Artist?.Account?.Avatar ?? "https://placehold.co/50")" alt="Artist Profile Picture" class="artist-profile-pic">
                  <span class="artist-name">@Model.Post?.Artist?.ArtistName</span>
            </a>
            <div class="loves-saveds">
                    <span class="loves"><i class="fas fa-heart"></i><span id="noLoves">@Model.Post?.TotalReact</span> </span>
                    <span class="saveds"><i class="fa-solid fa-eye"></i> @Model.Post?.TotalView</span>
                    <button id="report" class="btn-outline-dark" onclick="showReport()" style="border-radius: 4px; color: black;">Report</button>
            </div>
        </div>
        <p class="artwork-description m-2">
            @Model.Post?.Description          
        </p>
      </div>
      <hr/>
      <div class="more-artwork mt-4">
            <h2 class="m-3 text-center">More from @Model.Post?.Artist?.ArtistName</h2>
        <div class="thumbnails">
          @foreach (var item in Model.ArtistSuggestion)
          {
            <a class="gallery-item thumbnail" asp-page="./Details" asp-route-id="@item.PostId" style="color: black; text-decoration: none;">
                <img src="@(item?.Images?.FirstOrDefault()?.ImageUrl ?? "https://placehold.co/300")" alt="Artwork Thumbnail" class="thumbnail-image">
                <div class="gallery-item-title mt-4">@item.Title</div>
                <div class="d-flex justify-content-end" style="position:absolute; bottom:8px; right: 8px;">
                    <div class="gallery-item-stats ml-1" style="flex: 1; background: rgba(255, 255, 255, 0.2); padding: 3px 4px; border-radius: 2px;">
                        <span class="likes"><i class="far fa-heart"></i> @item.TotalReact</span>
                        <span class="comments"><i class="far fa-bookmark"></i> @item.TotalBookmark</span>
                    </div>
                </div>
            </a>
          }                       
        </div>
      </div>
      <hr/>
      @if (Model.OtherSuggestion != null) {
        <div class="more-artwork mb-4" style="margin-left: -32px; margin-right: -32px;">
            <h2 class="m-3 text-center">More by other creators</h2>
            <div class="gallery mt-2 mb-2">
                @foreach (var item in Model.OtherSuggestion)
                {
                    <a class="gallery-item" asp-page="./Details" asp-route-id="@item.PostId" style="color: black; text-decoration: none;">
                        <img src="@(item?.Images?.FirstOrDefault()?.ImageUrl ?? "https://placehold.co/300")"
                            class="gallery-image" />
                        <div class="gallery-item-title">@item.Title</div>
                        <div class="gallery-item-info d-flex justify-content-between">
                            <div class="user-short-item" style="flex: 2">
                                    <img src="@(item.Artist?.Account?.Avatar ?? "https://placehold.co/300")" class="artist-profile-pic-suggest" />
                                    <span class="artist-name-suggest">@item.Artist?.ArtistName</span>
                            </div>
                            <div class="gallery-item-stats flex-1 ml-1" style="flex: 1">
                                    <span class="likes"><i class="far fa-heart"></i> @item.TotalReact</span>
                                    <span class="comments"><i class="far fa-bookmark"></i> @item.TotalBookmark</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
      }
        
    </div>

<div id="report-model" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Report this artwork</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">
                            Please complete the reasons for reporting:
                        </label>
                        <textarea class="form-control" id="report-reasons" rows="3"></textarea>
                        <div class="form-text">We'll collect for consideration and processing</div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="completeReport" type="button" onclick="report()" class="btn btn-dark">Report</button>
                </div>
            </div>
        </form>
            
    </div>
</div>
<partial name="Shared/Partial/_toastyAnnouncePartial"/>
</body>
@Html.AntiForgeryToken()
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#love").click(function () {
            var isReacted = !$(this).hasClass("did");
            var postId = @Model.Post.PostId;
            var loves = parseInt($("#noLoves").text(), 0);
            $(this).toggleClass("did");

            if (isReacted) {
                $.ajax({
                    url: '/Artworks/Details?handler=React&postId=' + postId,
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {                     
                        console.log("Update successful");
                        $("#noLoves").text("" + (loves + 1));
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            window.location.href = '/Authenticate/Login';
                        } else {
                            console.error("Error updating post reaction:", error);
                            //$("#love").toggleClass("did");
                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: '/Artworks/Details?handler=UnReact&postId=' + postId,
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        console.log("Update successful");
                        $("#noLoves").text("" + (loves - 1));
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            window.location.href = '/Authenticate/Login';
                        } else {
                            console.error("Error updating post reaction:", error);
                            //$("#love").toggleClass("did");
                        }
                    }
                });
            }
            
        });
        $("#bookmark").click(function () {
            var isBookmarked = !$(this).hasClass("did");
            var postId = @Model.Post.PostId;
            $(this).toggleClass("did");

            if (isBookmarked) {
                $.ajax({
                    url: '/Artworks/Details?handler=Bookmark&postId=' + postId,
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        console.log("Update successful");
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            window.location.href = '/Authenticate/Login';
                        } else {
                            console.error("Error updating post reaction:", error);
                            //$("#bookmark").toggleClass("did");
                        }
                    }
                });
            }
            else {
                $.ajax({
                    url: '/Artworks/Details?handler=UnBookmark&postId=' + postId,
                    type: 'POST',
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (result) {
                        console.log("Update successful");
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            window.location.href = '/Authenticate/Login';
                        } else {
                            console.error("Error updating post reaction:", error);
                            //$("#bookmark").toggleClass("did");
                        }
                    }
                });
            }
        });
    });
    
    function showReport(){
        $('#report-model').modal('show');
    }
    
   function report() {
        // Get the postId from the hidden input
        var postId = document.getElementById("postId").value;
        
        // Get the reason from the textarea
        var reason = document.getElementById("report-reasons").value;
        
        // Make sure reason is not empty
        if (reason.trim() === "") {
            alert("Please provide a reason for reporting.");
            return;
        }
        
        // Prepare the data to send
        var data = {
            postId: postId,
            reason: reason
        };
        
        $.ajax({
            url: '/Artworks/Details?handler=Report',
            type: 'POST',
            contentType: 'application/json',
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: JSON.stringify(data),
            success: function (response) {
                // Handle success response here
                if(response.result === 'Ok'){
                    showOutOfStockToastSuccess('Report', 'Report successfully!' );
                }else if(response.result === 'Error'){
                    showOutOfStockToastDanger('Report', 'You may need login to do this action');
                }
                $('#report-model').modal('hide');
            },
            error: function (error) {
                // Handle error response here
                console.error('Error approving artwork:', error);
            }
        });
    }
        
</script>
