@model ArtHubBO.Entities.Account
<!-- Navbar -->
<header class="header">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid d-flex align-items-center">
            <div class="collapse d-sm-inline-flex col-4">
                <ul class="navbar-nav">
                    <li class="nav-item me-3 fs-6">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Moderator/ArtWorksManagement">Artwork Management</a>
                    </li>
                    <li class="nav-item me-3 fs-6">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Moderator/ReportManagement">Report Management</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <img src="/images/ArtHub.png" alt=""
                     class="w-50 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="form-inline my-2 my-lg-0 col-4 float-end">
                @if (@Model == null)
                {
                    <div class="float-end">
                        <a asp-page="/Login" type="button" class="btn position-relative mx-2">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </div>
                }
                else
                {
                    switch(@Model.Role.RoleName)
                    {
                        case "Moderator":
                            <div class="me-3 nav-user float-end">
                                <img src="@(Model.Avatar ?? "https://placehold.it/60x60")" alt="" class="user-img m-2">
                                <span class="user-name my-1">@Model.FirstName</span>
                                <ul class="user-menu list-unstyled me-3">
                                    <li class="user-menu-item">
                                        <a asp-page="/Moderator/ModeratorEditProfile" class="text-decoration-none text-dark">Edit Profile</a>
                                    </li>
                                    <li class="user-menu-item item-seperate">
                                        <a asp-page="/Logout" class="text-decoration-none text-dark">Logout</a>
                                    </li>
                                </ul>
                            </div>
                            break;
                            
                        case "Admin":
                            <div class="me-3 nav-user float-end">
                                <img src="@(Model.Avatar ?? "https://placehold.it/60x60")" alt="" class="user-img m-2">
                                <span class="user-name my-1">@Model.FirstName</span>
                                <ul class="user-menu list-unstyled me-3">
                                    <li class="user-menu-item">
                                        <a asp-page="/CreatorProfile" class="text-decoration-none text-dark">Edit Profile</a>
                                    </li>
                                    <li class="user-menu-item item-seperate">
                                        <a asp-page="/Logout" class="text-decoration-none text-dark">Logout</a>
                                    </li>
                                </ul>
                            </div>
                            break;
                        default:
                            <div class="float-end">
                                <a asp-page="/Login" type="button" class="btn position-relative mx-2">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                            </div>
                            break;
                    }                            
                }
            </div>
        </div>
    </nav>
</header>