@page
@model User.Pages.Authenticate.ForgotPasswordModel
@{
}
<link rel="stylesheet" href="~/css/login-register.css" asp-append-version="true" />
<partial name="Shared/Partial/_toastyAnnouncePartial" />
<section class=" text-center text-lg-start">
    <div class="card" style="border:none;">
        <div class="row g-0 d-flex align-items-center" style="background-color:var(--yellow-color-dark); max-height: calc(100vh - 75px); overflow: hidden;">
            <div class="image col-lg-4 d-none d-lg-flex">
                <img src="../images/Login.png"
                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="d-flex align-items-stretch form col-lg-8">
                <div class="card-body m-auto py-5 px-md-5" style="max-width: 60%;">
                    <div class=" text-center">
                        <span class="title">Reset Your Password</span>
                    </div>
                    <form method="post">
                        @if(Model.Status == 1)
                        {
                            <div class="form-outline mb-4">
                                <label class="label-primary form-label" for="form2Example1">Email address</label>
                                <input asp-for="@Model.Email" type="email" placeholder="Type here" class="form-control" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                <input asp-for="@Model.Status" value="1" type="hidden" class="form-control" />
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="button mb-4">Send Code</button>
                        } else if (Model.Status == 2)
                        {
                            <div class="form-outline mb-4">
                                <label class="label-primary form-label" for="form2Example1">Enter security code</label>
                                <input asp-for="@Model.Email" type="hidden" placeholder="Type here" class="form-control" />
                                <input asp-for="@Model.Code" type="text" placeholder="Enter code" class="form-control" />                                
                                <input asp-for="@Model.Status" value="2" type="hidden" class="form-control" />
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="button mb-4">Continue</button>
                        } else if (Model.Status == 3)
                        {
                            <input asp-for="@Model.Email" type="hidden" placeholder="Type here" class="form-control" />
                            <input asp-for="@Model.Code" type="hidden" placeholder="Enter code" class="form-control" />
                            <input asp-for="@Model.Status" value="3" type="hidden" class="form-control" />
                            <div class="d-flex flex-column align-items-center">
                                <div class="form-group mt-3 w-100">
                                    <label for="newPasword">New password</label>
                                    <input asp-for="PasswordConfirm.NewPassword" type="password" class="form-control" id="newPasword" placeholder="New password">
                                    <span asp-validation-for="PasswordConfirm.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-3 w-100">
                                    <label for="confirmPassword">Confirm password</label>
                                    <input asp-for="PasswordConfirm.ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                                    <span asp-validation-for="PasswordConfirm.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <!-- Submit button -->
                            <button type="submit" class="button mb-4 mt-4">Change Password</button>
                        }
                        <div class="text-center">
                            <span class="text-danger mt-2 mb-2">@ViewData["ErrorMessage"]</span>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="label-primary row mb-4 me-4">
                                <div class="col">
                                    Already have an account?
                                    <a class="label-primary" href="./Login"> Sign in</a>
                                </div>
                            </div>
                            <div class="label-primary row mb-4">
                                <div class="col">
                                    Do not have account?
                                    <a class="label-primary" href="./register"> Signup</a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>    
    var notExistEmailMessage = '@TempData["NotExistEmailMessage"]';
    if (notExistEmailMessage) {
        showOutOfStockToastDanger('Forgot Password', notExistEmailMessage);
    }

    var failSendMail = '@TempData["FailSendMail"]';
    if (failSendMail) {
        showOutOfStockToastDanger('Email', failSendMail);
    }
    var successSendMail = '@TempData["SuccessSendMail"]';
    if (successSendMail) {
        showOutOfStockToastSuccess('Email', successSendMail);
    }
    var notCorrectCode = '@TempData["NotCorrectCode"]';
    if (notCorrectCode) {
        showOutOfStockToastDanger('Code', notCorrectCode);
    }
    var correctCode = '@TempData["CorrectCode"]';
    if (correctCode) {
        showOutOfStockToastSuccess('Code', correctCode);
    }
    var changePasswordFail = '@TempData["ChangePasswordFail"]';
    if (changePasswordFail) {
        showOutOfStockToastDanger('Code', changePasswordFail);
    }
</script>