@page
@model AccountDetailManagementModel
@{
}
<h1>Account Details</h1>

@if (Model.Account != null)
{
    <div>
        <h4>Email: @Model.Account.Email</h4>
        <p>Full Name: @Model.Account.FirstName @Model.Account.LastName</p>
        <p>Gender: @Model.Account.Gender</p>
        <p>Status: @Model.Account.Status</p>
        <p>Enabled: @Model.Account.Enabled</p>
        <!-- Thêm các thông tin khác của tài khoản nếu cần -->
    </div>
}
else
{
    <p>Account not found!</p>
}

<a asp-page="./Edit" asp-route-id="@Model.Account.Email">Edit</a> |
<a asp-page="./Index">Back to List</a>